@import url('https://fonts.googleapis.com/css2?family=Allura&family=Audiowide&family=Roboto+Slab:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;
        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;
        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;
        --primary: 217.2 91.2% 59.8%;
        --primary-foreground: 222.2 47.4% 11.2%;
        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;
        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215.2 16.3% 56.9%;
        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;
        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 224.3 76.3% 48%;
        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-slate-800;
    }

    body {
        @apply bg-slate-950 text-slate-50 font-sans selection:bg-violet-500/30;
    }
}

.glass {
    @apply bg-white/5 backdrop-blur-lg border border-white/10;
}

.text-gradient {
    @apply bg-gradient-to-r from-violet-400 to-indigo-500 bg-clip-text text-transparent;
}

.font-signature {
    font-family: 'Great Vibes', cursive;
}

.allura-regular {
    font-family: "Allura", cursive;
    font-weight: 400;
    font-style: normal;
}

.roboto-slab-hero {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.audiowide-regular {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}